{% extends "system_index.html" %}

{% block sistema %}

<a href="{% url 'espaciofisico:sede_insert' %}"  class="btn btn-success fa fa-plus-square fa-1x"></a>

<table id="example1" class=" mt-3 pt-2 table table-bordered table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
    	{% for pr in sedes %}
    		<tr>
    			<td>{{pr.id}}</td>
    			<td>{{pr.descripcion}}</td>
          <td class="bg-warning" >
            <a href="{%url 'espaciofisico:sede_edit' pr.id%}"  class="fa fa-pencil-square-o fa-2x"></a>
          </td>
    		</tr>
    	{% endfor %}
    </tbody>
</table>


{%endblock%}
