<!DOCTYPE html>
<html lang="en">
  <head>
    {%load staticfiles%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Compatible con monbiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    pruba de calendario
    <script src="{% static "libs/jquery.js"%}" charset="utf-8"></script>
    <script src="{% static "libs/bootstrap-datepicker/js/bootstrap-datepicker.min"%}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static "libs/bootstrap-datepicker/css/bootstrap-datepicker.css"%}">
    -->

    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css"%}">
    <link rel="icon" href="{% static "images/icono.ico" %}" >
    <style>
      .slider{
        background: url({%static "images/Platzi-Stiker.jpeg"%});
        height: 100vh;/*abarque el 100% dispositivo*/
        background-size: cover;
        background-position: center;
        background-color:gray; opacity:1;
      }

    </style>
  </head>
  <body>



    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{% url 'usuario:system_index' %}">
        <img src="{% static "images/logo.png" %}" width="30" height="30" class="d-line-block aling-top" alt="logo">
        {{user.username}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="navbar-nav mr-auto text-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Perfil</a>
            <div class="dropdown-menu">
              {% if not user.perfil%}
              <a class="dropdown-item" href="{% url 'usuario:perfil_insert'%}">Crear</a>
              {%else%}
              <a class="dropdown-item" href="{% url 'usuario:perfil_list'%}">Visualizar</a>

            </div>
          </li>
          {% if perms.espaciofisico.add_sede%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sede</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="{% url 'espaciofisico:sede_insert' %}">Crear</a>

                <a class="dropdown-item" href="{% url 'espaciofisico:sede_list' %}">Visualizar</a>
              </div>
            </li>
          {%endif%}
          {% if perms.recursos.add_recursos%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recurso</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="{% url 'recursos:recursos_insert' %}">Crear</a>

                <a class="dropdown-item" href="{% url 'recursos:recursos_list' %}">Visualizar</a>
              </div>
            </li>
          {%endif%}
          {% if perms.recursos.add_recursos%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Facultad</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="{% url 'academia:facultad_insert' %}">Crear</a>

                <a class="dropdown-item" href="{% url 'academia:facultad_list' %}">Visualizar</a>
              </div>
            </li>
          {%endif%}
          {% if perms.academia.add_programaacademico%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Programa Académico</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="{% url 'academia:programa_academico_insert' %}">Crear</a>

                <a class="dropdown-item" href="{% url 'academia:programa_academico_list'%}">Visualizar</a>
              </div>
            </li>
          {%endif%}
          {% if perms.academia.add_asignatura%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asignatura</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="{% url 'academia:asignatura_insert' %}">Crear</a>

                <a class="dropdown-item" href="{% url 'academia:asignatura_list' %}">Visualizar</a>
              </div>
            </li>
          {%endif%}
          {% if perms.academia.add_grupo%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Grupo</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="{% url 'academia:asignatura_insert' %}">Crear</a>

                <a class="dropdown-item" href="{% url 'academia:asignatura_list' %}">Visualizar</a>
              </div>
            </li>
          {%endif%}
          {% endif %}



          <a class="nav-item- nav-link active fa fa-envelope fa-2x" href="https://corporativo.mi.com.co/" target="_blank"></a>
          <button type="button" onclick="window.location.href={%url 'usuario:logout'%}" class="btn btn-outline-danger">Cerrar Sesión</button>
        </div>
      </div>
    </nav>

    <section class="container mt-5 pt-2">
      <a href="javascript:window.history.back();"  class="btn btn-primary fa fa-chevron-circle-left fa-1x"></a>

      {% block sistema %}
      {% endblock %}
    </section>


    <footer class="container-fluid bg-primary mt-5 pt-2" id="contacto">
      <div class="row text-white py-4 text-white  text-center justify-content-center ">
                <div class="col-md-4 " >
                      <h6 class="lead"> Desarrollado <br><br>
                      <a href="http://www.hoodeddeveloper.com/"  target="_blank">  <img src= {% static "images/Logo-Hooded-Developer.png" %}  alt="logo hooded developer" width="auto" height="60px" class="rounded mx-auto d-block"></a>
                    </h6>
                </div>

                <div class="col-md-4 " >
                    <h6 class="lead"> Chiquinquirá - Boyacá <br>
                    Carrera xxxx # xxx xxx<br>
                    Telefonos: 555 555 555
                    </h6>
                </div>

                <div class="col-md-4">
                  <h6 class="lead"> Contactanos</h6>
                  <a href="mailto:correo@dominio.com.co" class="lead"><span class="label">correo@dominio.com.co</span></a></br>
                  <a href="https://www.facebook.com/perfil/" target="_blank"> <span class="fa fa-facebook fa-2x" ></span></a>
                </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS  la que sigue es de otro proyect-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="{%static "js/bootstrap.min.js"%}" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    {%block js%}

    {%endblock%}
    <!--<script type="text/javascript" src="{% static "js/ajax.js" %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>-->
  </body>
</html>
